<div class="container-fluid">
  <h1 class="mt-4">O strani</h1>
  <p>Ta stran vsebuje 8 statičnih komponent z drevesno strukturo prikazano na spodnji sliki. Ta vsebina se nahaja na komponenti 1. Stran je namenjena testiranju zahtevnosti uporabe več komponent s statično vsebino direktno v HTML kodi.</p>
  <img src="assets/img/aplikacija_drevesna_struktura.jpg">
  <div class="row">
    <div class="col-md-12 col-lg-6 pb-3">
      <app-static-two></app-static-two>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-static-five></app-static-five>
    </div>
  </div>
</div>
