<td scope="row">{{ task.id }}</td>
<td><app-input [(ngModel)]="task.title" name="opravilo"></app-input></td>
<td><app-input [(ngModel)]="task.description" name="opis"></app-input></td>
<td>
  {{ task.duration | date:'H:mm:ss':'UTC'}}
  <button *ngIf="task.startDate" (click)="stopTimer()" class="btn btn-danger">Stop</button>
  <button *ngIf="!task.startDate" (click)="startTimer()" class="btn btn-success">Start</button>
</td>
<td *ngIf="showContacts">
  <app-select [(ngModel)]="task.contactId" [data$]="contacts" bindLabel="firstName" bindLabelSecond="lastName" bindValue="id"></app-select>
</td>
