<span>Števc A: <b>{{ counterA }}</b></span>&nbsp;
<span>Števc B: <b>{{ counterB }}</b></span>&nbsp;
<span>Števc C: <b>{{ counterC }}</b></span>
<br>
<span>Testni objekt: <b>{{ initialObject | json }}</b></span>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Test</th>
    <th scope="col">Porabljen čas v ms</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1A</th>
    <td>
      <button class="btn btn-dark" (click)="click()">Test this</button>
    </td>
    <td>{{ resultsClick }}</td>
  </tr>
  <tr>
    <th scope="row">1B</th>
    <td>
      <button class="btn btn-dark" (click)="clickMultiple()">Test set multiple</button>
    </td>
    <td>{{ resultsMultiple }}</td>
  </tr>
  <tr>
    <th scope="row">1C</th>
    <td>
      <button class="btn btn-dark" (click)="clickSetObject()">Test set object</button>
    </td>
    <td>{{ resultsSetObject }}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>
      <button class="btn btn-dark" (click)="clickVar()">Test var</button>
    </td>
    <td>{{ resultsClickVar }}</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>
      <button class="btn btn-dark" (click)="clickHidden()">Test hidden</button>
    </td>
    <td>{{ resultsClickHidden }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>
      <button class="btn btn-dark" (click)="clickTimeout()">Test timeout</button>
    </td>
    <td>{{ resultsClickTimeout }}</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>
      <button class="btn btn-dark" (click)="clickRecursiveTimeout(1000)">Test recursive timeout</button>
    </td>
    <td>{{ resultsClickRecursiveTimeout }}</td>
  </tr>
  </tbody>
</table>
