<div class="d-flex" id="wrapper" [class.toggled]="!showToolbar">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Magistrski demonstrativen primer</div>
    <div class="list-group list-group-flush">
      <a
        *ngFor="let item of sideMenuItems"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item list-group-item-action"
      >{{ item.text }}</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-light bg-light border-bottom">
      <button class="navbar-toggler" (click)="toggleMenu()"><span class="navbar-toggler-icon"></span></button>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
