<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>Naloge</h2>
    </div>
    <div class="col-2">
      <button (click)="addNew()" class="btn btn-success float-right">+</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Opravilo</th>
      <th scope="col">Opis</th>
      <th *ngIf="showContacts" scope="col">Nosilec</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks | filter: pageIndex: pageSize">
      <td scope="row">{{ task.id }}</td>
      <td><app-input [(ngModel)]="task.title"></app-input> </td>
      <td><app-input [(ngModel)]="task.description"></app-input> </td>
      <td *ngIf="showContacts">
        <app-select [(ngModel)]="task.contactId" [data$]="contacts" bindLabel="firstName" bindLabelSecond="lastName" bindValue="id"></app-select>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pager
    [length]="tasks.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 25, 50, 100]"
    (page)="pageChange($event)"
  ></app-pager>
</div>
